body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin:0;
    text-align: center;
}
.titulo{
    text-align: center;
    border-bottom: solid 2px black;
    font-size: 24px;
    width: 100%;
}
.mid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.questao{
    background-color: gray;
    border: 2px solid;
    text-align: left;
}